<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Anagrams</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1 class="jumbotron">Anagrams and Antigrams</h1>
      <h3><%= @description %></h3>
      <form action="/output">
        <label for="word-one">Enter the first word or phrase:</label>
        <input type="text" name="word-one" id="w1">
        <label for="word-two">Enter the second word or phrase:</label>
        <input type="text" name="word-two" id="w2">
        <button type="submit">What's their relation?</button>
      </form>
    </div>
  </body>
</html>
