<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Anagrams</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Anagrams and Antigrams</h1>
      </div>
      <h3><%= @result %></h3>
      <a href="/">Try another pair</a>
    </div>
  </body>
</html>
